img{
  max-width: 300px;
  max-height: 200px;
}
.dice{
  color: rgb(238, 255, 0);

}
.dice2{
  color: red;
}
.jumbotron{
  font-family: 'SKranji' , cursive;
  text-align: center;
  height: 150px;
  font-weight: 100px;
  font-size: 30px;
  border: 3px solid black;
}
.container{
  width: 1008px;
}
.gif{
  float: right;
  text-align: center;
  padding: 10px;
  width: 400px;
  margin-right: 45px; 
}
h2{
  font-family: 'Lobster Two' , cursive;
}
li{
  font-style: italic;
}
.ng{
  float: right;
  padding: 10px;
  margin-left: 50px;
}
#players{
  width: 700px;
  text-align: center;
  padding-left: 322px;
}
.gaming{
  width:950px;
  display:none;
}
.images{
  margin-left: 300px;
}
#onedice{
  display: none;
}
#twodice{
  display: none;
}
#threedice{
  display: none;
}
#fourdice{
  display: none;
}
#fivedice{
  display: none;
}
#sixdice{
  display: none;
}
#newgame{
  font-size: 26px;
  font-family: 'Righteous' , cursive;
  border-radius: 10px;
  background-color:rgb(31, 190, 124);
  color: black; 
  float: right;
}
#newgame:hover{
  background-color: #10532C;
  float: right;
}
#newgame:active{
  transform: translateY(5px);
  float: right;
}
.panel-footer{
  margin-top: 30px;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 24px;
}
#title1{
  color: #405596;
}
#title2{
  color: #C75E5E;
}
#p1{
  font-family: 'Gaegu', cursive;
    font-size: 34px;
  margin-left: 20px;
}
#p2{
  font-family: 'Gaegu', cursive;
    font-size: 34px;
      margin-left: 20px;
}
#ready{
  background-color: red;
  float: right;
}
#p1-hold{
  background-color:red;
}
#p2-hold{
  background-color: red;
}