img{
  max-width: 300px;
  max-height: 200px;
}
.jumbotron{
  font-family: 'SKranji' , cursive;
  text-align: center;
  height: 250px;
  font-size: 30px;
  border: 5px solid black;
}
.container{
  width: 1008px;
}
.gif{
  float: right;
  text-align: center;
  padding: 10px;
  width: 400px;
  margin-right: 45px; 
}
h2{
  font-family: 'Lobster Two' , cursive;
}
li{
  font-style: italic;
}
.ng{
  float: left;
  padding: 10px;
  margin-left: 50px;
}
#players{
  width: 700px;
  text-align: center;
  padding-left: 322px;
}
.gaming{
  width:950px;
  display:none;
}
.images{
  margin-left: 300px;
}
#onedice{
  display: none;
}
#twodice{
  display: none;
}
#threedice{
  display: none;
}
#fourdice{
  display: none;
}
#fivedice{
  display: none;
}
#sixdice{
  display: none;
}
#newgame{
  font-size: 26px;
  font-family: 'Righteous' , cursive;
  border-radius: 10px;
  background-color: aquamarine;
  color: black; 
}
